# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg

# Entornos virtuales
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Entorno / secretos
# .env

# Notas personales con credenciales
mis email my correos (3) - copia.rtf
start project_conrenfe.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store